@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeLogin.Web.Models.Employee
<h1>Add Student</h1>
<form method="post">
    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="mt-3">
        <label class="form-label">Salary</label>
        <input type="text" class="form-control" asp-for="Salary"/>
    </div>
    <div class="mt-3">
        <label class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="Department"/>
    </div>
    <div>
        <button asp-action="AddEmployee" asp-controller="Employee" class="btn btn-primary">Register</button>
@*        <button asp-action="AddEmployee" asp-controller="Employee">Login</button>
 *@    </div>

</form>