
@model LoginDto;

<h1>Login</h1>

<form method="post" asp-action="LogIn" asp-controller="Employee">
    <div class="mt-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email" />
    </div>
    <div class="mt-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password" />
    </div>
    <div><button type="submit" class="btn btn-primary">Login</button></div>
</form>